<div>
<form [formGroup]="companyForm" #addProject="ngForm" class="form-signin">
  <h1 class="h3 mb-3 font-weight-normal">Dodaj nowego klienta</h1>
  <div>
      <input type="text" class="form-control mb-4"
      [ngClass]="{'is-invalid': companyForm.get('companyName').errors && companyForm.get('companyName').touched}"
      name="companyName"
      formControlName="companyName"
      placeholder="Nazwa firmy">
      <div class="invalid-feedback">Firma jest obowiązkowa.</div>
  </div>
  <div>
      <input type="text"
        class="form-control  mb-4"
      [ngClass]="{'is-invalid': companyForm.get('przedstawicielImie').errors && companyForm.get('przedstawicielImie').touched}"
      name="przedstawicielImie"
        formControlName="przedstawicielImie"
        placeholder="Imię przedstawiciela">
  </div>
  <div>
    <input type="text"
      class="form-control mb-4"
      name="przedstawicielNazwisko"
      formControlName="przedstawicielNazwisko"
      placeholder="Nazwisko przedstawiciela">
</div>
  <div>
        <input type="text"
          class="form-control mb-4"
         [ngClass]="{'is-invalid': companyForm.get('miasto').errors && companyForm.get('miasto').touched}"
          placeholder="Miasto"
          name="miasto"
          formControlName="miasto">
    </div>
    <div>
        <input type="text"
          class="form-control mb-4"
          name="ulica"
          placeholder="Ulica"
          formControlName="ulica">
    </div>
  <div>
      <input type="text"
        class="form-control mb-4"
        [ngClass]="{'is-invalid': companyForm.get('phoneNumber').errors && companyForm.get('phoneNumber').touched}"
        name="phoneNumber"
        formControlName="phoneNumber"
        placeholder="Numer">
  </div>
  <div class="btn-group mt-4" role="group">
    <button [disabled]="!companyForm.valid" class="btn btn-lg btn-secondary" type="submit">Dalej</button>
    <button class="btn btn-lg btn-secondary">Wróć</button>
  </div>
</form>
</div>