<div class="container text-center text-container" *ngIf="!loggedIn()">

  <!-- ngSumbit is a function of angular. so after you click submit down below,
    you get directed to login function in ts file -->
  <form #loginForm="ngForm" class="form-signin" (ngSubmit)="login()">


  <h1 class="h3 mb-3 font-weight-normal">Zaloguj się</h1>

  <!-- has to have names. ngClasses are binding with the values in ts file -->
  <label class="sr-only">Nazwa użytkownika</label>
  <input type="text"class="form-control"
    placeholder="Nazwa użytkownika" required autofocus
    name="username"
    [(ngModel)]="model.username">

  <label class="sr-only">Hasło</label>
  <input type="password" class="form-control"
   name="password"
   placeholder="Hasło" required
   [(ngModel)]="model.password">

   <label class="alert-link">
      <a>Nie masz jeszcze konta?</a>
   </label>

  <!-- <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Zapamiętaj mnie
    </label>
  </div> -->

  <!-- button has to have submit type -->
  <button [disabled]="!loginForm.valid" class="btn btn-lg btn-primary btn-block" type="submit">Zaloguj się</button>


  </form>

</div>

<app-dashboard *ngIf="loggedIn()"></app-dashboard>
