<div class="container-fluid">
  <h3 class="text-center">Twoja grupa</h3>
<div class="inline-block">
  <div class="card" style="height: 18rem;">
    <div class="alert alert-primary">
      <div class="input-group">
          <input [(ngModel)]="selected"
          class="form-control"
          placeholder="Szukaj użytkownika">
       </div>
      </div>
    <div class="card-body">
      <div *ngFor="let user of users | filter : selected">
        {{user.name}} {{user.surname}}
      </div>
    </div>
  </div>
</div>
<div class="inline-block">
  <div class="card">
    <div class="card-body">
      <app-user-list></app-user-list>
    </div>
  </div>
</div>