<div class="container text-center text-container" *ngIf="!registrationMode">

  <!-- ngSumbit is a function of angular. so after you click submit down below,
    you get directed to login function in ts file -->
  <form #loginForm="ngForm" class="form-signin" (ngSubmit)="login()">


  <h1 class="h3 mb-3 font-weight-normal">Zaloguj się</h1>

  <!-- has to have names. ngClasses are binding with the values in ts file -->
  <label class="sr-only">Email użytkownika</label>
  <input type="text"class="form-control"
    placeholder="Email użytkownika" required autofocus
    name="email"
    [(ngModel)]="model.email">

  <label class="sr-only">Hasło</label>
  <input type="password" class="form-control"
   name="password"
   placeholder="Hasło" required
   [(ngModel)]="model.password">

   <label class="alert-link">
      <a (click)="toggleRegistrationMode()">Nie masz jeszcze konta?</a>
   </label>

  <!-- <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Zapamiętaj mnie
    </label>
  </div> -->

  <!-- button has to have submit type -->
  <button [disabled]="!loginForm.valid" class="btn btn-lg btn-primary btn-block" type="submit">Zaloguj się</button>


  </form>

</div>


<div class="container text-center text-container" *ngIf="registrationMode">
  <form #loginForm="ngForm" class="form-signin" (ngSubmit)="register()">


      <h1 class="h3 mb-3 font-weight-normal">Zarejestruj się</h1>
    
      <!-- has to have names. ngClasses are binding with the values in ts file -->
      <label class="sr-only">Nazwa użytkownika</label>
      <input type="text"class="form-control"
        placeholder="Email użytkownika" required autofocus
        name="email"
        [(ngModel)]="model.email">

      <label class="sr-only">Imię</label>
      <input type="text"class="form-control"
        placeholder="Imię" required autofocus
        name="name"
        [(ngModel)]="model.name">

      <label class="sr-only">Nazwisko</label>
      <input type="text"class="form-control"
        placeholder="Nazwisko" required autofocus
        name="surname"
        [(ngModel)]="model.surname">

        <!-- TO DO OGARNIECIE DATEPICKERA -->
      <label class="sr-only">Data urodzenia</label>
      <input type="text"class="form-control"
        placeholder="Nazwisko" required autofocus
        name="surname"
        [(ngModel)]="model.surname">

      <label class="sr-only">Płeć</label>
      <mat-radio-group>
        <mat-radio-button name="gender" value="kobieta">Kobieta</mat-radio-button>
        <mat-radio-button name="gender" value="male">Mężczyzna</mat-radio-button>
      </mat-radio-group>
    
      <label class="sr-only">Hasło</label>
      <input type="password" class="form-control"
      name="password"
      placeholder="Hasło" required
      [(ngModel)]="model.password">
    
      <div class="form-group text-center">
        <button class="btn btn-success btn-lg" type="submit">Zarejestruj</button>
        <button class="btn btn-default btn-lg" type="button" (click)="cancel()">Wróć</button>
      </div>
      
    </form>
  </div>